DIV {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 14pt;
    color: black;
}

IMG {
}

BODY    {
}

.slide  {
    background-color: #e6eefa;
}

.header {
    height: 0px;
}

.footer {
    height: 30px;
}

.left-side, .right-side {
    width: 40px;
    background-color: rgba(1,1,1,0);
}

.title {
    height: 100px;
    border-bottom: dotted 2px gray;
    margin-bottom: 20px;
    padding-right: 100px;
    background-image: url("../../../images/im-logo.png");
    background-repeat : no-repeat;
    background-position : top right; 
}

.title-item {
    font-size: 3em;
    font-weight: bold;
    color: #4b4b4b;
}

.items  {
    font-size: 50px;
}

.item-level1 {
    font-weight: bold;
    color: #616161;
}

.item-level2 {
}

.item-level3 {
}

.presubtitle    {
    height: 100px;
}

.presubtitle-item    {
    font-size: 2em;
    font-weight: bold;
}

.maintitle    {
    height: 200px;
}

.maintitle-item    {
    font-size: 3.5em;
    font-weight: bold;
}

.subtitle    {
    height: 100px;
}

.subtitle-item    {
    font-size: 2em;
    font-weight: bold;
}

.coveritems  {
    font-size: 40px;
    font-weight: normal;
    padding-top: 40px;
}

.centertitle    {
    height: 400px;
}

.centertitle-item    {
    font-size: 3em;
    font-weight: bold;
}

.centeritems  {
    font-size: 40px;
}

DIV .code    {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0;
}

PRE    {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0;
}