.slide {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /*position: absolute;*/
    /*overflow: hidden;*/

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.header {
    width: 100%;
    align-items: stretch;
    flex-grow: 0;
    flex-shrink: 0;
}

.middle {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 100;
    max-height: 100vh;
    max-width: 100vw;
}

.footer {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.left-side, .right-side {
    flex: 1 1 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 100 1 auto;
    flex-wrap: nowrap;
    max-height: 100vh;
    max-width: 100vw;
}

.title {
    text-align: center;
    display: none;

    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.title-item {
    text-align: center;

    justify-content: center;
    align-items: center;
    flex-grow: 10;
    flex-shrink: 10;
}

.items, .itemsmore {
    display: none;
    height: auto;

    flex-direction: column;
    flex-grow: 10;
    flex-shrink: 10;
    flex-basis: auto;
    justify-content: center;
    align-items: flex-start;
}

.item-level1 {
    margin-left: 0;
    font-size: 100%;
}

.item-level2 {
    margin-left: 2em;
    font-size: 90%;
    display: list-item;
    list-style-type: disc;
}

.item-level3 {
    margin-left: 4em;
    font-size: 80%;
    display: list-item;
    list-style-type: disc;
}

.item-level4 {
    font-size: 100%;
    text-align: center;
}

.item-level5 {
    font-size: 100%;
    text-align: right;
}

.centeritem-level1 {
    margin-left: 0;
    font-size: 100%;
}

.centeritem-level2 {
    margin-left: 2em;
    font-size: 90%;
    display: list-item;
    list-style-type: disc;
}

.centeritem-level3 {
    margin-left: 4em;
    font-size: 80%;
    display: list-item;
    list-style-type: disc;
}

.centeritem-level4 {
    font-size: 100%;
    text-align: center;
}

.centeritem-level5 {
    font-size: 100%;
    text-align: right;
}

.coveritem-level1 {
    margin-left: 0;
    font-size: 100%;
}

.coveritem-level2 {
    margin-left: 3em;
    font-size: 90%;
    display: list-item;
    list-style-type: disc;
}

.coveritem-level3 {
    margin-left: 5em;
    font-size: 80%;
    display: list-item;
    list-style-type: disc;
}

.coveritem-level4 {
    font-size: 100%;
    text-align: center;
}

.coveritem-level5 {
    font-size: 100%;
    text-align: right;
}

BODY {
    margin: 0;
    padding: 0;
    /*position: static;*/
    height: 100vh;
    width: 100vm;
}

HTML {
    height: 100%;
    width: 100%;
}

.presubtitle {
    display: none;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.presubtitle-item {
    text-align: center;

    justify-content: center;
    align-items: center;
    flex-grow: 10;
    flex-shrink: 10;
}

.maintitle {
    display: none;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.maintitle-item {
    text-align: center;

    justify-content: center;
    align-items: center;
    flex-grow: 10;
    flex-shrink: 10;
}

.subtitle {
    display: none;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.subtitle-item {
    text-align: center;

    justify-content: center;
    align-items: center;
    flex-grow: 10;
    flex-shrink: 10;
}

.coveritems {
    display: none;
    text-align: center;

    flex-grow: 10;
    flex-shrink: 10;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centertitle {
    display: none;

    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.centeritems {
    display: none;
    text-align: center;

    flex-grow: 100;
    flex-shrink: 100;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail {
    display: none;
    flex-grow: 100;
    flex-shrink: 100;
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
}

.fig1, .fig2, .fig3 {
    display: none;
    /*width: 100vw;       !* IE *!*/
    /*max-height: 100vh;*/
    /*max-width: 100vw;*/
    flex: 0 0 auto;
    object-fit: scale-down;
}

:-moz-full-screen {
}

:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

:-ms-fullscreen {
    width: 100%; /* needed to center contents in IE */
}

:fullscreen {
}


.header .page    {
    background-color: rgba(0, 0, 0, 0.4);
    width: 20px;
    height: 20px;
    margin: 2px;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 8px;
}

.footer .page {
    display: none;
}